<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .fixed-card{
            width: 1100px;
            height: 250px;
        }
        .card-img {
            max-width: 100%; /* Set to 100% to fit within the card's width */
            max-height: 100%; /* Set to 100% to fit within the card's height */
        }
    </style>
</head>
<body>
<div class="main">
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #607D8B">
      <div class="container-fluid">
          <div class="d-flex align-items-center">
              <a class="navbar-brand" href="http://127.0.0.1:8000/">ElectroCOm</a>
          </div>
          <div class="d-flex align-items-center mx-auto">
              <form class="form-inline my-2 my-lg-0">
                  <div class="input-group">
                      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">
                          <i class="fas fa-search"></i>
                      </button>
                  </div>
              </form>
          </div>
          <div class="d-flex">
              <ul class="navbar-nav me-6 ">
                  <li class="nav-item">
                      <a class="nav-link active me-3" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
                  </li>
                  {% if user.is_authenticated %}
                    
                  
                  <li class=" dropdown dropdown-menu mt-2">
                      <a href="{% url 'cart' %}" class=" text-white text-decoration-none me-3">
                      <i class="bi bi-cart3"></i></a>
                  </li>
                  {% endif %}
                      <!-- Link -->
                      <li class="nav-item dropdown">
                          <a class="nav-link text-white" href="{% url 'allproducts' %}" role="button">
                              Products
                          </a>
  
                      </li>
                  
  
                  {% if not user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  {% else %}
                  <li class="nav-item ">
                      <a href="#" class="nav-link ">
                       {{user.name}}
                      </a>
                  </li>
                  {% endif %}
              </ul>
          </div>
      </div>
  </nav>
  
  </div>
    <div class="container mt-5">
        <h3 class="text-center">Products</h3>
        <div class="row">
            {% for i in data %}
                <div class="col-md-12 mt-2">
                    <div class="card d-flex flex-row fixed-card" style="overflow: hidden;">
                        <div class="p-3 col-md-3">
                            <img src="{{i.image1.url}}" class="card-img pt-1"  alt="Book Cover">
                        </div>
                        <div class="card-body col-md-9">
                            <a href="{% url 'product_detail' i.id %}" style="text-decoration: none; color: #000;">
                            <h4 class="card-title mt-4">{{i.name}}</h4>
                            <p class="card-text"><strong>Product Name:</strong>{{i.product_name}}</p>
                            <p class="card-text text-italic"><strong>Brand Name:</strong>{{i.brand_name}}</p>
                            <!-- <p class="card-text">{{i.description}}</p> -->
                            <p class="card-text">INR {{i.price}}</p>
                            <a href="{% url 'addtocart' i.id %}">
                            <button class="btn btn-primary" >Add to Cart</button>
                            </a>    
                            <a href="{% url 'product_detail' i.id %}">
                                <button class="btn btn-primary" >View more  </button>
                            </a>    
                            <a href="{% url 'addtowishlist' i.id %}">
                                <button class="btn btn-primary" >Add to wishlist  </button>
                            </a>
                        </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
