{% load static %}
{% comment %} {% extends "index.html" %}  {% endcomment %}
{% block title %}

{% endblock %}
{% block content %}

{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Electrocom</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">
    
    <!-- CSS 
    ========================= -->
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}">
    
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/search.css' %}">
    
    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <div class="a">
  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light text-center " id="ftco-navbar">
      <div class="container justify-content-center center-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">Sofa</a></li>
            <li class="nav-item"><a href="product.html" class="nav-link">Recliners</a></li>
            <li class="nav-item"><a href="pets.html" class="nav-link">Tables</a></li>
            <li class="nav-item"><a href="services.html" class="nav-link">Chairs</a></li>
        <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Bed</a></li>
          <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Lounge Chairs</a></li>
            <li class="nav-item"><a href="contact.html" class="nav-link">Wardrobes</a></li>
            <li class="nav-item"><a href="{% url 'seller' %}" class="nav-link">Become a Seller</a></li>
        <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">
      </div>
    </nav>
  
  </div>
  
    

    
        </div>

</div>
<!-- Main Wrapper End -->



<h2 style="margin-left:500px;margin-top:200px;">Password changed successfully</h2>
<p style="margin-left:600px">Your password has been set.</p>
 <a href="{% url 'login' %} "style="margin-left:660px">login now</a>{% endblock %}

<!-- jquery -->		
<script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>

<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!-- Ajax Mail -->
<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>



