{% load static %}
<style>
    /* Center-align the container content */
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* This ensures the content takes the full viewport height */
        text-align: center; /* Center-align text within the container */
    }

    /* Style for the content wrapper */
    .content-wrapper {
        border: 2px solid #ddd; /* Add a border */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
        padding: 20px; /* Add padding for spacing */
        background-color: #f9f9f9; /* Background color */
    }

    /* Style for the h1 element */
    h1 {
        font-size: 2.5rem;
        color: #343a40;
        margin-bottom: 20px;
    }

    /* Style for the paragraph element */
    p {
        font-size: 1.1rem;
        color: #555;
        margin-bottom: 30px;
    }

    /* Style for the "Login now" link */
    a {
        color: #343a40;
        text-decoration: none;
        font-weight: bold;
    }

    /* Style for the "Login now" link on hover */
    a:hover {
        text-decoration: underline;
    }
</style>
<div class="container">
    <div class="logo" style="margin-top: 20px; margin-left: -25px;">
        <a href="index.html"><img style="width: 420px;" src="{% static 'assets\img\logo2.png' %}" alt="hai"></a>
    </div>
    
    <div class="content-wrapper">
        {% block title %}
        Password reset
        {% endblock %}
        {% block content %}
        <h1>Password set</h1>
        <p>Your password has been set. You can <a href="{% url 'login' %}">login now</a></p>
        {% endblock %}
    </div>
</div>
