{% load static %} {% load socialaccount %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
  </head>
  <body>
    <h1 class="text-center mb-0 pb-0">
      <img src="{% static 'assets/img/logo2.png' %}" width="250px" />
    </h1>
    <section class="vh-100">
      <form method="post">
        {% csrf_token %} {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
        <div class="container py-1 h-100 mt-0">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem">
                <div class="card-body pt-1 p-5 text-center">
                  <h3 class="mb-5">Sign in</h3>

                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      name="email"
                      id="typeEmailX-2"
                      placeholder="Email ...."
                      class="form-control form-control-lg"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      name="pass"
                      id="typePasswordX-2"
                      placeholder="password ..."
                      class="form-control form-control-lg"
                    />
                  </div>

                  <!-- Checkbox -->
                  <div class="d-grid mb-0">
                    <button
                      class="btn btn-primary btn-lg btn-block"
                      type="submit"
                    >
                      Login</button
                    ><br />
                  </div>

                  <div
                    class="form-check mt-0 d-flex justify-content-start mb-3"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      id="form1Example3"
                    />
                    <label class="form-check-label" for="form1Example3">
                      &emsp;Remember password
                    </label>
                  </div>

                  <div>
                    <a
                      href="{% url 'password_reset' %}"
                      class="text-dark"
                      style="margin: 80px"
                      >Forgot Password
                    </a>
                    <hr class="my-4" />
                  </div>
                  <div>
                    <div class="mb-3 justify-content-center pb-3">
                      <div class="justify-content-center d-flex flex-row pb-3">
                        <span>Don't have an account?</span>
                      </div>
                      <div class="justify-content-center d-flex flex-row">
                        <button type="button" id="register-button">
                          Register
                        </button>
                      </div>
                    </div>
                    <a
                      class="btn btn-lg btn-block btn-primary"
                      style="background-color: #dd4b39"
                      type="submit"
                      href="{% provider_login_url 'google'%}?next=/"
                      ><i class="fab fa-google me-2"></i> Sign in with google</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
    <script>
      document
        .getElementById("register-button")
        .addEventListener("click", function () {
          window.location.href = "{% url 'register' %}";
        });
    </script>
  </body>
</html>
