{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/sellerprofile.css'%}">
    <title>Document</title>
</head>
<body>
    
    <div id="seller-profile">
        
        <div id="seller_image">
            <!-- {% for i in seller %} 
            <!-- src="{{i.image.url}}"  -->
            <center><img id="profile-image" alt="seller's Profile Image" height="300px" width="300px" style="margin-top:120px"></center>
            <!-- {% endfor %} -->
            <!-- {% if seller is None %} -->
            <center><img id="profile-image" src="" alt="seller's Profile Image" height="300px" width="300px" style="margin-top:120px;"></center>
            <!-- {% endif %} -->
              
            
        </div>
  
        <div id="seller_details">
            <center><h1>User Profile</h1></center>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
           
        {% for i in user %}
        {% comment %} {% for data in userdata%} {% endcomment %}
         
        <input type="text" id="seller-name" name="seller-name" value="{{i.first_name}}" placeholder="name" required><br><br>
        <input type="text" id="seller-name" name="seller-name" value="{{i.last_name}}" placeholder="name" required><br><br>
        {% comment %} <input type="text" id="seller-email" name="seller-email" placeholder="email" value="{{i.email}}"><br><br> {% endcomment %}
        {% endfor %}
         
        {% comment %} {% for data in userdata%} {% endcomment %}
        
        <input type="text" id="seller-address" name="seller-address" value="{{data.address}}" placeholder="address" required><br><br>
        <input type="text" id="seller-district" name="seller-district" value="district  " placeholder="district" required><br><br>
        
        {% comment %} {% endfor %} {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
        {% comment %} <!-- {% for i in userdata %} --> {% endcomment %}
        {% comment %} <input type="number" id="seller-number" name="seller-number" placeholder="number" required disabled><br><br> {% endcomment %}
        {% comment %} <!-- value="{{i.number}}" -->  {% endcomment %}
        {% comment %} <!-- {% endfor %} --> {% endcomment %}
        {% comment %} <!-- {% for i in user %} --> {% endcomment %}
         {% comment %} <!-- value="{{i.email}}" --> {% endcomment %}
        {% comment %} <!-- {% endfor %} --> {% endcomment %}
        {% comment %} <!-- {% for seller in seller %} --> {% endcomment %}
        {% comment %} <!-- value="{{seller.address}}" --> {% endcomment %}
       
        {% comment %} <!-- value="{{seller.district}}" --> {% endcomment %}
        {% comment %} <!-- value="{{seller.district}}"  --> {% endcomment %}
    
        
        {% comment %} <input type="text" id="seller-state" name="seller-state" placeholder="state" value="seller.state" required><br><br>
       
        
    
        
        <input type="text" id="seller-country" name="seller-country" placeholder="country" value="seller.country" required><br><br>
    
        
        <input type="text" id="seller-pincode" name="seller-pincode" placeholder="pincode" value="seller.pincode" required><br><br> {% endcomment %}

        {% comment %} <label for="seller-image" id="details">Select Image</label>  {% endcomment %}
        {% comment %} <input type="file" id="seller-image" name="seller-image" placeholder="image" required><br><br> {% endcomment %}
        {% comment %} <!-- {% endfor %} --> {% endcomment %}
        {% comment %} <!-- {% if seller is None %} -->
        <input type="text" id="seller-address" name="seller-address" value="Address" required><br><br>
    
       
        <input type="text" id="seller-district" name="seller-district" value="District" required><br><br>
    
        
        <input type="text" id="seller-state" name="seller-state" value="State" required><br><br>
    
        
        <input type="text" id="seller-country" name="seller-country" value="Country" required><br><br>
    
        
        <input type="text" id="seller-pincode" name="seller-pincode" value="Pincode" required><br><br>

        <label for="seller-image" id="details">Select Image</label>
        <input type="file" id="seller-image" name="seller-image"  required><br><br>   
        <!-- {% endif %} --> 
        {% endcomment %}
        <button type="submit" id="update-profile">Update Profile</button>
    </form>
        </div>

        
        
        
    </div>
    
</body>
</html>