{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>Register</title>
  </head>

  <body style="background-color: #eeeeee">
    
    <section class="vh-100">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px">
              <div class="card-body p-md-5">
                 <h1 class="text-center"><img src="{% static 'assets/img/logo2.png' %}"></h1>

                <div class="row justify-content-center">
                  <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                      Sign up
                    </p>

                    <form method="post" onsubmit="return validateForm()" class="mx-1 mx-md-4">
                      {% csrf_token %}
                      <!-- Add a div to display the error message -->
<div id="form_error" class="text-danger"></div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            name="first_name"
                            id="form3Example1c"
                            class="form-control"
                            placeholder="First Name ..."
                            oninput="validateFirstName(this)"
                            required
                          />
                        </div>
                      </div>
                      <div id="firstname_error" class="text-danger"></div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="text"
                            name="last_name"
                            id="form3Example1c"
                            class="form-control"
                            placeholder="Last Name ..."
                            oninput="validateLastName(this)"
                            required
                          />
                        </div>
                      </div>
                      <div id="lastname_error" class="text-danger"></div>
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="email"
                            name="email"
                            id="form3Example3c"
                            class="form-control"
                            placeholder="Email ..."
                            oninput="validateEmail(this)"
                            required
                          />
                        </div>
                      </div>
                      <div id="email_error" class="text-danger"></div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            name="pass"
                            id="form3Example4c"
                            class="form-control"
                            placeholder="password ..."
                            oninput="validatePassword(this)"
                            required
                          />
                        </div>
                      </div>
                      <div id="password_error" class="text-danger"></div>
                     
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input
                            type="password"
                            name="pass"
                            id="form3Example4cd"
                            class="form-control"
                            placeholder="Confirm password ..."
                            required
                          />
                        </div>
                      </div>
                      <div id="confirm_password_error" class="text-danger"></div>
                      
                      {% if error_message %}
                      <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                      </div>
                      {% endif %}
                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button type="submit" class="btn btn-primary btn-lg">
                          Register
                        </button>
                      </div>
                    </form>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <p>
                        Already have an account?
                        <a href="{% url 'login' %}">Login here</a>
                      </p>
                    </div>
                  </div>
                  <div
                    class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                      class="img-fluid"
                      alt="Sample image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for Registration Error -->
      <div
        class="modal fade"
        id="registrationErrorModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="registrationErrorModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="registrationErrorModalLabel">
                Registration Error
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                Email is already registered. Please use a different email
                address.
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      function validateFirstName(input) {
        var name = input.value;
        var letters = /^[A-Za-z]+$/; // Only allow alphabet characters
    
        if (!letters.test(name)) {
          document.getElementById("firstname_error").textContent =
            "Name field should only contain alphabet characters";
          return false; // Validation failed
        } else {
          document.getElementById("firstname_error").textContent = "";
          return true; // Validation passed
        }
      }
    
      function validateLastName(input) {
        var name = input.value;
        var letters = /^[A-Za-z]+$/; // Only allow alphabet characters
    
        if (!letters.test(name)) {
          document.getElementById("lastname_error").textContent =
            "Name field should only contain alphabet characters";
          return false; // Validation failed
        } else {
          document.getElementById("lastname_error").textContent = "";
          return true; // Validation passed
        }
      }
    
      function validateEmail(input) {
        var email = input.value;
        var emailPattern = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
    
        if (!emailPattern.test(email)) {
          document.getElementById("email_error").textContent =
            "Invalid email address";
          return false; // Validation failed
        } else {
          document.getElementById("email_error").textContent = "";
          return true; // Validation passed
        }
      }
    
      function validatePassword(input) {
        var password = input.value;
        var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    
        if (!passwordPattern.test(password)) {
          document.getElementById("password_error").textContent =
            "Password should include at least one uppercase letter, one lowercase letter, one numeric digit, one special character, and be at least 8 characters long.";
          return false; // Validation failed
        } else {
          document.getElementById("password_error").textContent = "";
          return true; // Validation passed
        }
      }
    
      function validateConfirmPassword(input) {
        var confirmPassword = input.value;
        var password = document.getElementById("form3Example4c").value;
    
        if (confirmPassword !== password) {
          document.getElementById("confirm_password_error").textContent =
            "Passwords do not match.";
          return false; // Validation failed
        } else {
          document.getElementById("confirm_password_error").textContent = "";
          return true; // Validation passed
        }
      }
    
      function validateForm(event) {
        event.preventDefault(); // Prevent the default form submission
    
        // Validate each field
        var isFirstNameValid = validateFirstName(
          document.getElementById("form3Example1c")
        );
        var isLastNameValid = validateLastName(
          document.getElementById("form3Example1c")
        );
        var isEmailValid = validateEmail(document.getElementById("form3Example3c"));
        var isPasswordValid = validatePassword(
          document.getElementById("form3Example4c")
        );
        var isConfirmPasswordValid = validateConfirmPassword(
          document.getElementById("form3Example4cd")
        );
    
        // Check if all validations are true
        if (
          isFirstNameValid &&
          isLastNameValid &&
          isEmailValid &&
          isPasswordValid &&
          isConfirmPasswordValid
        ) {
          // All validations passed, submit the form
          document.querySelector("form").submit();
        } else {
          // At least one validation failed, prevent form submission and display an error message
          var formError = document.getElementById("form_error");
          formError.textContent =
            "Please correct the errors and fill in all required fields.";
        }
      }
    </script>
    
  </body>
</html>
