{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/sellerprofile.css'%}">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit@3.12.0/dist/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/YOUR_KIT_ID.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #607D8B">
          <div class="container-fluid">
              <div class="d-flex align-items-left">
                  <a class="navbar-brand" href="#">ElectroCOm</a>
              </div>
              <div class="d-flex align-items-center mx-auto">
                  <form class="form-inline my-2 my-lg-0">
                      <div class="input-group">
                          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                          <button class="btn btn-outline-success" type="submit">
                              <i class="fas fa-search"></i>
                          </button>
                      </div>
                  </form>
              </div>
              <div class="d-flex p-2">
                  <ul class="navbar-nav me-6 ">
                      <li class="nav-item pe-1">
                          <a class="nav-link active me-3" aria-current="page" href="http://127.0.0.1:8000/">Home</a>
                      </li>
                      <li class="nav-item mt-2 pe-1">
                          <a href="{% url "wishlist" %}" class="text-white text-decoration-none me-3">
                              <i class="bi bi-heart"></i>
                          </a>
                      </li>
                      {% if user.is_authenticated %}
                        
                      
                      <li class="nav-item  mt-2 pe-1">
                          <a href="{% url 'cart' %}" class=" text-white text-decoration-none me-3">
                          <i class="bi bi-cart3"></i></a>
                      </li>
                      {% endif %}
                          <!-- Link -->
                          <li class="nav-item dropdown pe-1">
                              <a class="nav-link text-white" href="{% url 'allproducts' %}" role="button">
                                  Products
                              </a>
      
                          </li>
                      
      
                      {% if not user.is_authenticated %}
                      <li class="nav-item pe-1">
                          <a class="nav-link" href="{% url 'login' %}">Login</a>
                      </li>
                      {% else %}
                      <li class="nav-item dropdown pe-1">
                          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                           {{user.first_name}}
                          </a>
      
                          <div class="dropdown-menu dropdown-menu-end pe-1">
                              <a href="{% url 'profile' %}" class="dropdown-item nav-linkd">My Profile</a>
                              <a href="{% url 'sellerreg' %}" class="dropdown-item nav-linkd text-decoration-none">Become a seller</a>
                              <a href="{% url 'userLogout' %}" class="dropdown-item nav-linkd">Logout</a>
                          </div>
                      </li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>
      
      </div>
    
    <div id="seller-profile">
        
      
  
        <div id="seller_details">
            <center><h1>User Profile</h1></center>
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
     
        <input type="text" id="name" name="name" value="{{user.first_name}}" placeholder="name" required><br><br>
        <input type="text" id="name" name="name" value="{{user.last_name}}" placeholder="name" required><br><br>
        <input type="text" id="email" name="email" placeholder="{{i.email}}" value="{{user.email}}" disabled><br><br>
         
        <input type="text" id="address" name="address" value="{{profile.address}}" placeholder="Address" required><br><br>
        <input type="text" id="country" name="country" value="{% if profile %}{{ profile.country }}{% endif %}" placeholder="Country" required><br><br>
        <input type="text" id="state" name="state" value="{% if profile %}{{ profile.state }}{% endif %}" placeholder="State" required><br><br>
        <input type="text" id="district" name="district" value="{% if profile %}{{ profile.district }}{% endif %}" placeholder="District" required><br><br>
        <input type="text" id="pincode" name="pincode" value="{% if profile %}{{ profile.pincode }}{% endif %}" placeholder="Pincode" required><br><br> 
        <input type="text" id="gst" name="gst" value="{{ data.gst }}" placeholder="Pincode" disabled><br><br> 
        <input type="text" id="pan" name="pan" value="{{ data.pan }}" placeholder="Pincode" disabled><br><br> 
        
        <button type="submit" id="update-profile">Update Profile</button>
        </form>
    </div>
 
    </div>

    

</body>
</html>