{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Product Details</title>
  </head>

  <style>
    .image-and-subImg {
      width: fit-content;
    }
    .main-image >img{
      width: 230px;
    height: 280px;
    background-size: cover;

      
    }
    .sub-images {
      margin-top: 10px;
      width: max-content;

    }
    .sub-images > img {
      width: 73px;
    height: 65px;
    background-size: cover;

    }

    
  </style>

  <body>
    <div class="container p-5">
      {% for product in product %}
      <div class="card">
        <div class="d-flex flex-row ">
          <div class="image-and-subImg d-flex flex-column p-5">
            <div class="main-image">
              <img
                src="{{ product.image1.url }}"
                alt=""
                
              />
            </div>
            <div class="sub-images gap-2 d-flex flex-row">
              <img
                src="{{ product.image2.url }}"
                alt=""
                
              />
              <img
                src="{{ product.image3.url }}"
                alt=""
                
              />
              <img
                src="{{ product.image2.url }}"
                alt=""
                
              />
            </div>
          </div>
          <div class="description h-100">
            <div class="product-details">
              <h2>{{ product.product_name }}</h2>
              <p><strong>Brand:</strong> {{ product.brand_name }}</p>
              <p><strong>Battery:</strong> {{ laptop.battery }}</p>
              <p><strong>Description:</strong>{{product.description}}</p>
              <p><strong>Price:</strong> INR {{ product.price }}</p>
              <p><strong>Color:</strong> {{ laptop.color }}</p>
            </div>
            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
						<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Bootstrap JS and other scripts here -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
